# This is for clang-format >= 9.0.
#
# clang-format --version
# clang-format version 9.0.1 (Red Hat 9.0.1-2.module+el8.2.0+5494+7b8075cf)
#
# For detailed instructions, see: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Some parameters will change with versions.
---
Language: Cpp
# Based on WebKit style, https://www.webkit.org/coding/coding-style.html
BasedOnStyle: WebKit
# The following options are sorted alphabetically

# public/protected/private no indentation
AccessModifierOffset: -4
# If the parameters are too long, wrap them in new lines.
AlignAfterOpenBracket: AlwaysBreak
# clang-format >= 13 required, internal column alignment like map
#AlignArrayOfStructures: Left
# The newline characters are all on the right side of ColumnLimit
AlignEscapedNewlines: Right
# Short code blocks are not allowed to be single lines, that is, single lines of code are not allowed: if (x) return;
AllowShortBlocksOnASingleLine: false
# Only allow Inline functions in a single line
AllowShortFunctionsOnASingleLine: Inline
# Template declaration newline
AlwaysBreakTemplateDeclarations: Yes
# The left opening bracket does not wrap
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
AfterClass: false
  # BraceWrappingAfterControlStatementStyle: MultiLine
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
# When initializing the constructor, wrap the line before `,` and align it neatly with `:`
BreakConstructorInitializers: BeforeComma
# If the inheritance is too long and needs to be wrapped, it should also be preceded by `,`
BreakInheritanceList: BeforeComma
# Column width 160
ColumnLimit: 160
# c++11 There are no spaces at the beginning/end of the brackets, false will be added
Cpp11BracedListStyle: false
# The comment after the namespace will be corrected to: //namespace_name
FixNamespaceComments: true

#switch case indentation
IndentCaseLabels: true
#Allow single line cases
AllowShortCaseLabelsOnASingleLine: true

# clang-format >= 13 required, the internal indentation level of the lambda function is the same as the external one, and one level of indentation will be added by default
# LambdaBodyIndentation: OuterScope
# Namespace is not indented
NamespaceIndentation: None
#PPIndentWidth: 2
# */& Move closer to the variable, move to the right
PointerAlignment: Right
# c++11 Add a space to the variable when constructing using {}
SpaceBeforeCpp11BracedList: true
# When inheriting, add a space before `:`
SpaceBeforeInheritanceColon: true
# No spaces before (), except do/for/if/switch/while
SpaceBeforeParens: ControlStatements
# Do not add spaces in empty {}
SpaceInEmptyBlock: false
Standard: C++11
# Tab occupies 4 digits
TabWidth: 4
# Do not use TAB
UseTab: Never
---
Language: Java
---
Language: JavaScript
...